  <h1>Anything</h1>
    <p>
      Here is an array of anything: <br>
      <%=  @anything %>
          
   
    </p>
    <p>
      This is the home page for "Anything you want" 
      <a href="http://anything.com/">Anything.com</a>
      application.
    </p>

    


